.idea
*.db
*.DS_Store
.project
.pydevproject
*.log
touch.reload
*.pyc
*.ini
media*
*remote.py
*remote_dev
theplatform/aws
static/cked*
static/grappelli_modeltranslation*
static/select2*
static/debug_toolbar
static/admin*
static/grappelli
static/filebrowser
static/colorful
static/rest_framework
*django.mo
*django.po
temp/*
db_deploy/backup/*.json
static/db/*
dev_json/*
*.sqlite3
